{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% dump %}
    <h1>Hello</h1>

{#    {{ include('team/form.html.twig') }}#}

    {{ component('random_number', {style: 'color:red' }) }}

    <a href="{{ path('app_default_test', {name: 'Ansgar'}) }}">Homepage</a>

{% endblock %}

{% block footer %}
    <h1>Footer</h1>
{% endblock %}